@using TaskPlanner.ViewModels
@model List<UserViewModel>
@{
    ViewData["Title"] = "Promote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-white-50">Promote</h1>
<hr />

<div class="card shadow mb-4 border-bottom-warning">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Employee Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        if (user.Email == this.User.Identity.Name) { continue; };

                        <tr>
                            <td>@user.FullName</td>
                            @if (user.IsPromoted)
                            {
                                <td>Admin</td>
                            }
                            else
                            {
                                <td>
                                    <form asp-area="" asp-controller="Company" asp-action="Promote" method="post" asp-route-id="@user.Id">
                                        <button type="submit" class="btn btn-outline-info mb-2">Promote</button>
                                    </form>
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<hr />


