@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white-50">Welcome to TaskPlanner</h1>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron w-75 mx-auto">
        <hr class="hr-2 bg-dark" />
        <h3 class="mt-4"><a href="/Identity/Account/Login">Login</a></h3>
        <h3 class="mt-4"><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h3>
    </div>
}
else if (Model.CompanyName == null)
{
    <div class="jumbotron color-white w-75 mx-auto">
        <h2 class="text-gray-900">Your company name is missing</h2>
        <h3 class="mt-4"><a href="/FirstLogIn/Create"> Choose options</a></h3>
    </div>
}
