@model UserViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-white-50">Welcome to TaskPlanner</h1>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="row justify-content-center">
        <div class="col-xl col-lg-5 col-md-9">
            <div class="card o-hidden border-bottom-danger shadow-lg my-2">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-gradient-warning">
                            <div class="p-5">
                                <a href="/Identity/Account/Register" class="btn btn-outline-primary btn-lg btn-block">Register</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <a href="/Identity/Account/Login" class="btn btn-outline-primary btn-lg btn-block">Login</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (Model.CompanyName == null)
{
    <div class="jumbotron color-white w-75 mx-auto">
        <h2 class="text-gray-900">Your company name is missing</h2>
        <h3 class="mt-4"><a href="/FirstLogIn/Create"> Choose options</a></h3>
    </div>
}
