@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskPlanner</h1>
</div>

@if (!this.User.Identity.IsAuthenticated)
{
    <div class="jumbotron w-75 mx-auto">
        <hr class="hr-2 bg-dark" />
        <h3 class="mt-4"><a href="/Identity/Account/Login">Login</a></h3>
        <h3 class="mt-4"><a href="/Identity/Account/Register">Register</a> if you don't have an account.</h3>
    </div>
}
else if (this.User.IsInRole("Administrator"))
{
    <div class="jumbotron color-white w-75 mx-auto">
        <h3 class="mt-4"><a href="/Projects/Add"> Add Projects</a></h3>
        <h3 class="mt-4"><a href="/Company/Promote"> Promote a Team Member</a></h3>
        <h3 class="mt-4"><a href="/Projects/Manage"> Manage Projects</a></h3>
        <h3 class="mt-4"><a href="/TimeSheet/Me"> My Planner</a></h3>
    </div>
}
else
{
    <div class="jumbotron color-white w-75 mx-auto">
        <h3 class="mt-4"><a href="/TimeSheet/Me"> My Planner</a></h3>
        <h3 class="mt-4"><a href="/Projects/Manage"> View Projects</a></h3>
    </div>
}
