@{
    ViewData["Title"] = "Create";
}

<div class="text-center text-white-50">
    <h1>Welcome to TaskPlanner</h1>
</div>
<div class="row justify-content-center">
    <div class="col-xl col-lg-5 col-md-9">
        <div class="card o-hidden border-bottom-danger shadow-lg my-2">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-gradient-warning">
                        <div class="p-5">
                            <div class="p-5">
                                <a href="/Company/Create" class="btn btn-outline-primary btn-lg btn-block">Create Team</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <div class="p-5">
                                <a href="/Company/Join" class="btn btn-outline-primary btn-lg btn-block">Join Team</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
