
@{
    ViewData["Title"] = "Create";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TaskPlanner</h1>
</div>

<div class="jumbotron w-75 mx-auto">
    <hr class="hr-2 bg-dark" />
    <h3 class="mt-4"><a href="/Company/Create">Create Team</a></h3>
    <h3 class="mt-4"><a href="/Employee/Join">Join Team</a></h3>
</div>

