@{
    ViewData["Title"] = "Create";
}

<div class="text-center text-white-50">
    <h1>Welcome to TaskPlanner</h1>
</div>
<div class="row justify-content-center">
    <div class="col-xl col-lg-5 col-md-9">
        <div class="card o-hidden border-bottom-danger shadow-lg my-2">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-6 d-none d-lg-block bg-gradient-warning">
                        <div class="p-5">
                            <hr />
                            <div class="text-center">
                                <h1 class="h2 text-gray-900 mb-4"><a href="/Company/Create">Create Team</a></h1>
                                <hr />
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="p-5">
                            <hr />
                            <div class="text-center">
                                <h1 class="h2 text-gray-900 mb-4"><a href="/Company/Join">Join Team</a></h1>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
