@model CompanyProjectViewModel
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Manage Projects</h1>
<hr />
@foreach (var name in Model.ProjectsName)
{
    <div class="row">
        <div class="col">
            @name
        </div>
        <div class="col col-lg-2">
            <form asp-area="" asp-controller="Projects" asp-action="Delete" asp-route-id="@name">
                <input type="submit" name="Delete" value="Delete" />
            </form>
        </div>
        <div class="col col-lg-2">
            <form asp-area="" asp-controller="Projects" asp-action="Edit" asp-route-id="@name">
                <button type="submit" class="btn btn-primary mb-2">Edit</button>
            </form>
        </div>
    </div>
    <hr />
}

